
extends layout

block content
    h1= title
    form(name="add-estimation", method="post")
        div.input
            span.label Title
            input(type="file", name="title")
        div.actions
            input(type="submit", value="add")