<html>
<head>
	<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
</head>
<body>

	<input type="file" id="fileinput"/>
	<input type="submit" id = "send"/>

	
	<script type="text/javascript">

		var myDataRef = new Firebase('https://au740bzazlx.firebaseio-demo.com/');


		var contents, name, type, size;
		function readSingleFile(evt) {

	    	var f = evt.target.files[0]; 

	    	if (f) {
	    		var r = new FileReader();
	    		r.onload = function(e) { 
	    			contents = e.target.result;
	    			name = f.name; 
	    			type = f.type;
	    			size = f.size;
	    		};  
	    	}


		}

	document.getElementById('send').addEventListener('click', readSingleFile, false);
</script>

</body>
</html>